<article id="post-{{post.id}}" class="uk-section uk-section-small uk-padding-remove-top item post-{{post.id}} type-{{post.type}}">
  <header>
    
    <figure class="uk-position-relatve uk-inline uk-margin-remove uk-position-relative">
      <a class="uk-link-reset" href="{{post.link}}">
        {# post.featured_img.src|default('/public/img/stock.jpg') #}
        <img 
        class="" 
        data-src="/public/img/stock.jpg" 
        width="1000" 
        height="667" 
        alt="{{post.featured_img.alt}}" 
        uk-img>
      </a>
      {% if post.type %}
        <span class='uk-label uk-badge uk-text-capitalize uk-position-top-left uk-margin-small-left uk-margin-small-top'>Type: {{ post.type|capitalize }}</span> 
      {% endif %}
    </figure>
    <h2 class="uk-text-bold uk-margin-top">
      <a class="uk-link-reset" href="{{post.link}}">
        {{post.title}}
      </a>
    </h2>
    <p class="uk-article-meta">
      {% if post.taxonomies.categories %}
        Posted in: {% for cat in post.taxonomies.categories %}
          {% if not loop.last %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
          {% else %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if post.taxonomies.technologies %}
        Technology used: {% for tech in post.taxonomies.technologies %}
          {% if not loop.last %}
            <a title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>,
          {% else %}
            <a title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if post.taxonomies.locations %}
        Technology used: {% for loc in post.taxonomies.locations %}
          {% if not loop.last %}
            <a title="{{loc.title}}" href="{{loc.link}}">{{loc.title}}</a>,
          {% else %}
            <a title="{{loc.title}}" href="{{loc.link}}">{{loc.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if post.date_time %}
        Published: {{post.date_time|date("F j, Y")}}
      {% endif %}
      {% if post.taxonomies.tags %}
        Tags: {% for cat in post.taxonomies.tags %}
          {% if not loop.last %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
          {% else %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </header>
  <p>{{post.excerpt}}</p>
  <a href="{{post.link}}" class="">Read more</a>
</article>