{% extends "base.twig" %}

{% block seo_meta %}
  <title>{{single.meta_title|default(single.title ~ ' | ' ~ site.title)}}</title>
  <meta name="description" content="{{single.meta_description|default(single.excerpt)}}">
  <link rel="canonical" href="{{current_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{single.meta_title|default(single.title ~ ' | ' ~ site.title)}}" />
  <meta property="og:description" content="{{single.meta_description|default(single.excerpt)}}" />
  <meta property="og:image" content="{{base_url}}{{single.featured_img.src}}" />
  <meta property="og:url" content="{{current_url}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  <!-- BlogPosting -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{base_url}}"
      },
      "headline": "Some Heading",
      "description": "Lorem Ipsum",
      "image": "{{base_url}}/public/img/image.jpg",  
      "author": {
        "@type": "Person",
        "name": "Robert McCormack"
      },  
      "publisher": {
        "@type": "Person",
        "name": "{{site.title}}"
      },
      "datePublished": "{{single.date_time|date("F j, Y")}}",
      "dateModified": "{{single.date_time|date("Y-m-d")}}"
    }
  </script>
{% endblock %}

{% block content %}
  <div id="single_{{single.slug}}" class="single-{{single.slug}} uk-container" data-template="single.twig">
    {% include 'breads.twig' %}
    <div class="uk-section">
      <div class="uk-grid-large uk-grid" uk-grid="">

        <section class="left-section uk-width-2-3@m uk-first-column">
          <article class="uk-article">

            <header class="article-header">
              <h1 class="uk-article-title uk-text-bold">{{single.title}}</h1>
            </header>
            
            {% if single.status == 'draft' %}
              <p class="uk-margin-bottom">
                <span class="uk-label uk-label-warning">This page is in Draft mode</span>
              </p>
            {% endif %}
            
            {% block page_content %}
              Nothing to see here. Yet...
            {% endblock %}

          </article>
        </section>

        {% include 'sidebar.twig' %}

      </div>
    </div>
  </div>
{% endblock %}