{% extends "archive.twig" %}

{% block archive_content %}
  {% if archive.posts %}
    <!-- filters form -->
    <form method="GET" action="/portfolio" id="ArchiveFilters">
      {% for key, val in get %}
        {% if key == 'show_all' %}
          <input type="hidden" name="{{key|escape}}" />
        {% endif %}
        {% if key != 'url' and key != 'show_all' and key != 'categories' and key != 'technologies' %}
          <input type="hidden" name="{{key|escape}}" value="{{val|escape}}" />
        {% endif %}
      {% endfor %}
    </form>
    <!-- mobile filters form -->
    <form method="GET" action="/portfolio" id="ArchiveFiltersMobile">
      {% for key, val in get %}
        {% if key == 'show_all' %}
          <input type="hidden" name="{{key|escape}}" />
        {% endif %}
        {% if key != 'url' and key != 'show_all' and key != 'categories' and key != 'technologies' %}
          <input type="hidden" name="{{key|escape}}" value="{{val|escape}}" />
        {% endif %}
      {% endfor %}
    </form>
    <!-- portfolio toolbar -->
    <nav class="archive-toolbar uk-grid uk-grid-match uk-flex uk-flex-middle uk-grid-collapse" uk-grid>
      <div class="portfolio-breads uk-width-expand">
        {% include 'breads.twig' %}
      </div>
      <div class="portfolio-filters uk-width-auto">
        <div class="filter-button uk-hidden@m" uk-grid>
          <a href="#offcanvas-usage" uk-toggle class="uk-button uk-button-secondary uk-border-rounded uk-button-small uk-text-capitalize"><i class="fas fa-filter"></i> Filter</a>
          <div id="offcanvas-usage" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">
              <a class="uk-offcanvas-close uk-padding-remove"><i class="fas fa-times"></i></a>
              <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header uk-text-bold">
                  {% if archive.pagination.results %}
                    {{archive.pagination.results}}
                  {% endif %}
                </li>
                <li class="uk-margin-small">
                  <div class="cats-dropdown">
                    <div class="select-inline">
                      <div class="select-holder">
                        {% set categories = get_terms('category') %}
                        <select class="uk-select uk-border-rounded" name="categories" id="categories" autocomplete="off" form="ArchiveFiltersMobile" onchange="this.form.submit();">
                          <option {% if get.categories == '' %}selected{% endif %} disabled hidden>Categories</option>
                          {% for cat in categories %}
                            {% if cat.posts_count > 0  %}
                              <option value="{{cat.slug}}" {% if get.categories == cat.slug or cat.slug in get.url %}selected{% endif %}>{{cat.title}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="uk-margin-small">
                  <div class="technologies-dropdown">
                    <div class="select-inline">
                      <div class="select-holder">
                        {% set technologies = get_terms('technology') %}
                        <select class="uk-select uk-border-rounded" name="technologies" id="technologies" autocomplete="off" form="ArchiveFiltersMobile" onchange="this.form.submit();">
                          <option {% if get.technologies == '' %}selected{% endif %} disabled hidden>Technologies</option>
                          {% for technology in technologies %}
                            {% if technology.posts_count > 0  %}
                              <option value="{{technology.slug}}" {% if get.technologies == technology.slug or technology.slug in get.url %}selected{% endif %}>{{technology.title}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="desktop-filters uk-grid-match uk-flex uk-flex-middle uk-grid-small uk-visible@m uk-margin-remove" uk-grid>
          <div class="results-count uk-width-auto">
            <p class="uk-text-bold uk-text-emphasis uk-text-small">
              {% if archive.pagination.results %}
                {{archive.pagination.results}}
              {% endif %}
            </p>
          </div>
          <div class="cats-dropdown uk-width-auto">
            <div class="select-inline">
              <div class="select-holder">
                {% set categories = get_terms('category') %}
                <select class="uk-select uk-border-rounded" name="categories" id="categories" autocomplete="off" form="ArchiveFilters" onchange="this.form.submit();">
                  <option {% if get.categories == '' %}selected{% endif %} disabled hidden>Categories</option>
                  {% for cat in categories %}
                    {% if cat.posts_count > 0  %}
                      <option value="{{cat.slug}}" {% if get.categories == cat.slug or cat.slug in get.url %}selected{% endif %}>{{cat.title}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="technologies-dropdown uk-width-auto">
            <div class="select-inline">
              <div class="select-holder">
                {% set technologies = get_terms('technology') %}
                <select class="uk-select uk-border-rounded" name="technologies" id="technologies" autocomplete="off" form="ArchiveFilters" onchange="this.form.submit();">
                  <option {% if get.technologies == '' %}selected{% endif %} disabled hidden>Technologies</option>
                  {% for technology in technologies %}
                    {% if technology.posts_count > 0  %}
                      <option value="{{technology.slug}}" {% if get.technologies == technology.slug or technology.slug in get.url %}selected{% endif %}>{{technology.title}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block archive_widgets %}
  {{ parent() }}
  {% if archive.posts %}
    <!-- cats list widget -->
    <div class="widget portfolio-cats-widget uk-margin-medium">
      <h3 class="widget-title uk-h5">Categories</h3>
      {% set widget_categories = get_terms('category') %}
      <ul class="uk-list">
        {% for cat in widget_categories %}
          {% if cat.posts_count > 0  %}
            <li class="{% if get.categories == cat.slug or cat.slug in get.url %}uk-active{% endif %}">
              <a class="uk-link-text" href="{{cat.link}}">{{cat.title}} ({{cat.posts_count}})</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- technologies list widget -->
    <div class="widget portfolio-technologies-widget uk-margin-medium">
      <h3 class="widget-title uk-h5">Technologies</h3>
      {% set widget_technologies = get_terms('technology') %}
      <ul class="uk-list">
        {% for technology in widget_technologies %}
          {% if technology.posts_count > 0  %}
            <li class="{% if get.technologies == technology.slug or technology.slug in get.url %}uk-active{% endif %}">
              <a class="uk-link-text" href="{{technology.link}}">{{technology.title}} ({{technology.posts_count}})</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}