<article class="the-project{{(post.taxonomies.categories) ? post.taxonomies.categories|map(cat => ' cat-' ~ cat.slug)|join(' ') : ''}}{{(loop.index == 2 or (loop.index - 2) is divisible by(5)) ? ' uk-width-2-3@m' : ''}}{{(post.taxonomies.technologies) ? post.taxonomies.technologies|map(tech => ' tech-' ~ tech.slug)|join(' ') : ''}}">

  <!-- tease featured -->
  {% if post.featured_img %}
    <figure class="blog-grid-image">
      <a class="uk-inline uk-link-reset hover-grow-wrap uk-width-1-1" href="{{post.link}}">
        <img 
        class="uk-border-rounded uk-height-large uk-width-1-1 object-fit-cover" 
        data-src="{{ ( loop.index == 2 or (loop.index - 2) is divisible by(5) ) ? post.featured_img.src|resize(900) : post.featured_img.src|resize(400) }}" 
        data-width data-height 
        alt="{{post.featured_img.alt}}" 
        uk-img>
      </a>
    </figure>
  {% endif %}
  
  <!-- tease title -->
  <h3 class="blog-grid-headline uk-margin-remove uk-h4">
    <a class="uk-link-heading" href="{{post.link}}">{{post.title}}.</a>
  </h3>
  
  <!-- tease meta -->
  {% if post.taxonomies.technologies or post.read_time %}
    <div class="post-details uk-margin uk-margin-small-top">
      {% if post.taxonomies.technologies %}
        <div class="technology-holder uk-inline">
          {% for tech in post.taxonomies.technologies %}
            {% if not loop.last %}
              <a class="technology uk-link-reset" title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>,
            {% else %}
              <a class="technology uk-link-reset" title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  
  <!-- tease link -->
  <a class="style-btn uk-text-capitalize uk-animation-toggle" href="{{post.link}}" tabindex="0">
    Read more <i class="fas fa-arrow-right uk-margin-small-left uk-animation-slide-left"></i>
  </a>
  
</article>