<ul class="uk-breadcrumb uk-margin-small-top uk-margin-remove-bottom">
  <li>
    <a href="/">Home</a>
  </li>
  
  {% if context.archive == 'MainIndexArchive' or context.archive == 'TaxCollectionArchive' or context.archive == 'TaxTermArchive' %}

    {% if context.archive == 'MainIndexArchive' %}
      <li><span>{{context.type|capitalize}}</span></li>
    {% else %}
      <li><a href="/{{context.type}}">{{context.type|capitalize}}</a></li>
    {% endif %}
    
    {% if context.archive == 'TaxCollectionArchive' or context.archive == 'TaxTermArchive' %}
      {% if context.archive == 'TaxCollectionArchive' %}
        <li><span>{{context.tax|capitalize}}</span></li>
      {% else %}
        <li><a href="/{{context.type}}/{{context.tax}}">{{context.tax|capitalize}}</a></li>
      {% endif %}
    {% endif %}
    
    {% if context.archive == 'TaxTermArchive' %}
      <li><span>{{context.term|capitalize}}</span></li>
    {% endif %}
    
  {% endif %}
  
  {% if context.archive == 'SiteQuery' %}
    <li><span>{{archive.title}}</span></li>
  {% endif %}
  
  {% if single and context.single == 'Single' and single.slug != 'index' %}
    <!-- singles go last -->
    {% if context.type %}
      <li><a href="/{{context.type}}">{{context.type|capitalize}}</a></li>
    {% endif %}
    <li><span>{{single.title}}</span></li>
  {% endif %}
</ul>