<style>
  /* header */
  .site-header .uk-navbar-nav>li>a {
    text-transform: capitalize;
  }
  .site-header .uk-navbar-item, .site-header .uk-navbar-nav>li>a, .site-header .uk-navbar-toggle {
    font-size: 1rem;
  }
</style>
<header id="SiteHeader" class="site-header uk-background-default uk-padding-small uk-padding-remove-horizontal">
  <nav class="uk-navbar-transparent uk-container uk-navbar" uk-navbar>
    <div class="header-logo uk-navbar-left nav-logo-area">
      <div class="">
        <a class="site-logo uk-logo uk-padding-remove uk-text-bold uk-text-emphasis line-height-1" href="/">
          {{configs.site_title}}
        </a>
        <div>
          <p class="site-tagline uk-text-small uk-margin-remove line-height-1">{{configs.site_tagline}}</p>
        </div>
      </div>
    </div>
    <div class="header-main-nav uk-navbar-center nav-overlay">
      
      <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
        {% if main_menu %}
          {% for item in main_menu.menu_items %}
            <li class="menu-item">
              <a href="{{item.link}}">{{item.title}}</a>
              {% if item.children %}
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  {% for child_item in item.children %}
                    <li><a href="{{child_item.link}}">{{child_item.title}}</a></li>
                  {% endfor %}  
                </ul>
              </div>
              {% endif %}
            </li>
          {% endfor %}  
        {% else %}
          <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
        {% endif %}
      </ul>
      
    </div>
    <div class="header-icons-nav uk-navbar-right">
      <ul class="mobile-menu-toggle uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" href="#">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
      <ul class="dark-light-switcher pull-right-15 uk-navbar-nav">
        <li>
          <a id="DarkSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.moon_link_show_hide}}>
            <i class="far fa-moon"></i>
          </a>
        </li>
        <li>
          <a id="LightSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.sun_link_show_hide}}>
            <i class="fas fa-sun"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>