<header id="SiteHeader" class="site-header uk-background-default uk-padding-small uk-padding-remove-horizontal">

  <nav class="uk-navbar-transparent uk-container uk-navbar" uk-navbar="">

    <div class="header-logo uk-navbar-left nav-logo-area">
      <div class="">
        <a class="site-logo uk-logo uk-padding-remove uk-text-bold uk-text-emphasis" href="{{site.baseurl}}">
          {{site.title}}
        </a>
        <div>
          <p class="site-tagline uk-text-small uk-margin-remove">{{site.tagline}}</p>
        </div>
      </div>
    </div>

    <div class="header-main-nav uk-navbar-center nav-overlay">
      <ul class="uk-navbar-nav uk-visible@m">
        <li class="menu-item">
          <a href="{{site.baseurl}}">Home</a>
        </li>
        <li class="menu-item">
          <a href="{{site.baseurl}}/about">About</a>
        </li>
        <li class="menu-item">
          <a href="{{site.baseurl}}/policies">Policies</a>
        </li>
        <li class="menu-item">
          <a href="{{site.baseurl}}/contact/">Contact</a>
        </li>
      </ul>
    </div>

    <div class="header-icons-nav uk-navbar-right">

      <div class="search-toggle uk-visible@m">
        <a class="uk-navbar-toggle" href="#modal-navbar-search" uk-toggle="" aria-expanded="false">
          <i class="fas fa-search"></i>
        </a>
      </div>

      <ul class="mobile-menu-toggle uk-navbar-nav uk-hidden@m">
        <li>
          <a class="uk-navbar-toggle" href="#offcanvas-mobile-nav" uk-toggle="" aria-expanded="false">
            <i class="fas fa-bars"></i>
            <span class="uk-hidden">Menu</span>
          </a>
        </li>
      </ul>

      <div class="dark-light-switcher pull-right-15">
        <a id="DarkSwitch" class="uk-navbar-toggle darklight-switch"><i class="far fa-moon"></i></a>
        <a id="LightSwitch" class="uk-navbar-toggle darklight-switch" hidden=""><i class="fas fa-sun"></i></a>
      </div>

    </div>

  </nav>

  <div id="modal-navbar-search" class="uk-modal-full uk-modal" uk-modal="">
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="">
      <a class="uk-modal-close-full uk-link-toggle">
        <i class="fas fa-times"></i>
        <span class="uk-hidden">Close</span>
      </a>
      <form class="uk-search uk-search-large" role="search" method="get" action="https://rob.com">
        <input id="header-search" class="uk-search-input uk-text-center" type="search" placeholder="Start typing..." name="s" autofocus="">
        <input type="hidden" name="post_type" value="post">
      </form>
    </div>
  </div>
  <div id="offcanvas-mobile-nav" uk-offcanvas="flip: true; overlay: true; mode: push" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">

      <a class="uk-offcanvas-close">
        <i class="fas fa-times"></i>
        <span class="uk-hidden">Close</span>
      </a>

      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header uk-text-bold uk-text-uppercase uk-margin-small-bottom">Menu</li>
        <li>Add a menu to the Mobile Menu slot in Appearance &gt; Menus.</li>
        <li class="uk-nav-divider uk-margin-top"></li>
        <div class="uk-margin-top uk-position-z-index uk-position-relative">
          <form class="uk-search uk-search-default uk-width-1-1" role="search" method="get" action="https://rob.com">
            <span class="search-input-icon"><i class="fas fa-search"></i></span>
            <input class="uk-search-input" type="search" placeholder="Search..." id="SearchMobile" name="s" autocomplete="off">
          </form>
        </div>
      </ul>

    </div>
  </div>
</header>