<nav class="main-navbar uk-container uk-container-expand" uk-navbar>
  <div class="mobile-menu uk-navbar-left">
    <ul class="mobile-menu-toggle uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle" href="#">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="main-menu-logo uk-navbar-center">
    <div class="uk-navbar-center-left">
      <div>
        <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
          {% if main_menu %}
            {% for item in main_menu_first %}
              <li class="menu-item {{item.class}}">
                <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index}}</p>{{item.title}}</a>
                {% if item.children %}
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      {% for child_item in item.children %}
                        <li class="menu-item {{child_item.class}}">
                          <a href="{{child_item.link}}">{{child_item.title}}</a>
                          {% if child_item.children %}
                            <div class="third-drop uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for third_item in child_item.children %}
                                  <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          {% endif %}
                        </li>
                      {% endfor %}  
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}  
          {% else %}
            <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="logo-item uk-navbar-item uk-position-relative">
      <a class="site-logo uk-link-reset uk-text-bold uk-h4 uk-margin-remove" href="#">
        web<br>
        designer<br>
        developer<br>
      </a>
      <span class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">
        robmccormack89
      </span>
    </div>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
          {% if main_menu %}
            {% for item in main_menu_second %}
              <li class="menu-item {{item.class}}">
                <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index + main_menu_first|length}}</p>{{item.title}}</a>
                {% if item.children %}
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      {% for child_item in item.children %}
                        <li class="menu-item {{child_item.class}}">
                          <a href="{{child_item.link}}">{{child_item.title}}</a>
                          {% if child_item.children %}
                            <div class="third-drop uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for third_item in child_item.children %}
                                  <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          {% endif %}
                        </li>
                      {% endfor %}  
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}  
          {% else %}
            <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="darklight uk-navbar-right">
    <ul class="dark-light-switcher pull-right-15 uk-navbar-nav">
      <li>
        <a id="DarkSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.moon_link_show_hide}}>
          <i class="far fa-moon"></i>
        </a>
      </li>
      <li>
        <a id="LightSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.sun_link_show_hide}}>
          <i class="fas fa-sun"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>