<article id="post-{{post.id}}" class="uk-section uk-section-small uk-padding-remove-top item post-{{post.id}} type-{{post.type}}">
  <header>
    
    <figure class="uk-position-relatve uk-inline uk-margin-remove">
      <a class="uk-link-reset" href="{{post.link}}">
        <img 
        class="" 
        data-src="{{post.featured_img.src|default(configs.placeholder_img_src)}}" 
        width="800" 
        height="400" 
        alt="{{post.featured_img.alt}}" 
        uk-img>
      </a>
    </figure>
    <h2 class="uk-text-bold uk-margin-top">
      <a class="uk-link-reset" href="{{post.link}}">
        {{post.title}}
      </a>
    </h2>
    <p class="uk-article-meta">
      {% if post.categories %}
        Posted in {% for cat in post.categories %}
          {% if not loop.last %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
          {% else %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
      Published: {{post.date|date("F j, Y")}}
      {% if post.tags %}
        Tags: {% for cat in post.tags %}
          {% if not loop.last %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
          {% else %}
            <a title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>.
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </header>
  <p>{{post.excerpt}}</p>
  <a href="{{post.link}}" class="">Read more</a>
</article>