<!DOCTYPE html>
<html lang="{{ configs.language }}">

  <head>
    <meta charset="{{ configs.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset={{ configs.charset }}" />
    {% block seo_meta %}
      <!-- seo meta should be extended on a per page basis -->
    {% endblock %}
    <!-- WebSite -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "{{configs.site_title}}",
        "url": "{{configs.base_url}}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{configs.base_url}}/?s={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>
    <!-- Person -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "{{configs.name}}",
        "url": "{{configs.base_url}}",
        "image": "{{configs.avatar_src}}",
        "sameAs": [
          "{{configs.github_url}}",
          "{{configs.base_url}}"
        ],
        "jobTitle": "{{configs.job}}",
        "worksFor": {
          "@type": "Organization",
          "name": "{{configs.name}}"
        }  
      }
    </script>
    <!-- theme styles -->
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
    <script src="/public/js/global/base.min.js"></script>
    <!-- /theme styles -->
    {% block styles %}
      <!-- this block is for extending on a per page/template basis for specific page/template styles -->
    {% endblock %}
  </head>
  
  <body class="">

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    <main id="MainContent" role="main">
      {% block content %}
        Sorry, Nothing to Display!!
      {% endblock %}
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
    
    <!-- theme scripts -->
    <script type='text/javascript' src='/public/js/global/global.min.js'></script>
    <script type='text/javascript' src='/public/js/theme.js'></script>
    <script>
    </script>
    <!-- /theme scripts -->
    
    {% block scripts %}
      <!-- this block is for extending on a per page/template basis for specific page/template scipts -->
    {% endblock %}
  </body>
</html>