{% extends "_project_cover.twig" %}

{% block single_cover_content %}
  <div class="uk-container">
    <div class="project-cover single-cover-details uk-width-1-1">
      <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
        <div>
          {% if single.taxonomies.technologies or single.date_time %}
            <div class="post-details uk-margin uk-margin-small-bottom">
              {% if single.taxonomies.technologies %}
                <div class="taxonomy-holder uk-inline">
                  {% for tech in single.taxonomies.technologies %}
                    {% if not loop.last %}
                      <a class="taxonomy uk-link-reset" title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>,
                    {% else %}
                      <a class="taxonomy uk-link-reset" title="{{tech.title}}" href="{{tech.link}}">{{tech.title}}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              {% if single.date_time %}
                <span class="post-meta-estimate">{{single.date_time|date("F j, Y")}}</span>
              {% endif %}
            </div>
          {% endif %}
          <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
          {% if single.excerpt %}
            <p class="uk-text-meta">{{single.excerpt|raw}}</p>
          {% endif %}
        </div>
        <div>
          {% if single.project_goal %}
            <div class="project-goal uk-margin">
              <strong>Client Goal:</strong>
              <p>{{single.project_goal}}</p>
            </div>
          {% endif %}
          {% if single.project_meta or single.author %}
            {% if single.project_goal %}
              <hr>
            {% endif %}
            <div class="project-meta-grid uk-child-width-auto" uk-grid>
              {% for meta in single.project_meta %}
                <div>
                  <strong>{{meta.title}}</strong>
                  <p class="uk-text-small uk-margin-small-top">
                    {{meta.subs|join(',<br> ')|raw}}
                  </p>
                </div>
              {% endfor %}
              {% if single.author %}
                <div>
                  <strong>Author</strong>
                  <p class="uk-text-small uk-margin-small-top">
                    {{single.author}}
                  </p>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}