{% extends "single.twig" %}

{% block header %}
  {% include single.style.type ? '_post_header_' ~ single.style.type ~ '.twig' : '_post_header.twig' %}
{% endblock %}

{% block single_cover %}
  {% include single.style.type ? '_post_cover_' ~ single.style.type ~ '.twig' : '_post_cover.twig' %}
{% endblock %}

{% block single_content %}
  <section id="MainSingleContent" class="uk-container uk-container-medium uk-section uk-section-small">
    
    {% block _breads %}
      {{parent()}}
    {% endblock %}
    
    {% block _content %}
      {{parent()}}
    {% endblock %}
    
    {% block _meta %}
      {% if single.taxonomies.tags %}
        <div class="post-tags uk-margin-large">
          <div class="tags-grid uk-grid-small uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
            <div>
              Tagged with:
            </div>
            {% for tag in single.taxonomies.tags %}
              <div>
                <a class="uk-label uk-border-rounded uk-text-capitalize uk-link-reset" title="{{tag.title}}" href="{{tag.link}}">{{tag.title}}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock %}
    
  </section>
{% endblock %}