{% extends "base.twig" %}

{# single-specific seo_meta #}
{% block seo_meta %}
  <title>{{single.meta_title|default(single.title ~ ' | ' ~ site.title)}}</title>
  <meta name="description" content="{{single.meta_description|default(single.excerpt)}}">
  <link rel="canonical" href="{{current_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{single.meta_title|default(single.title ~ ' | ' ~ site.title)}}" />
  <meta property="og:description" content="{{single.meta_description|default(single.excerpt)}}" />
  <meta property="og:image" content="{{base_url}}{{single.featured_img.src}}" />
  <meta property="og:url" content="{{current_url}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  <!-- BlogPosting -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{base_url}}"
      },
      "headline": "Some Heading",
      "description": "Lorem Ipsum",
      "image": "{{base_url}}/public/img/image.jpg",  
      "author": {
        "@type": "Person",
        "name": "Robert McCormack"
      },  
      "publisher": {
        "@type": "Person",
        "name": "{{site.title}}"
      },
      "datePublished": "{{single.date_time|date("F j, Y")}}",
      "dateModified": "{{single.date_time|date("Y-m-d")}}"
    }
  </script>
{% endblock %}

{# single-specific styles - uses parent() #}
{% block styles %}
  {{ parent() }}
  <style>
    ins, mark {
      background: #9ff8d0;
      color: #17161a;
    }
    a {
      font-weight: 500;
    }
    .uk-label {
      background-color: #f8f8f8;
      color: #17161a;
      transition: .1s ease-in-out;
      transition-property: background-color,color;
    }
    .uk-light .uk-label {
      color: #17161a!important;
    }
    .uk-label:hover, .uk-label:focus {
      background-color: #d90a2c;
      color: #fff!important;
    }
    
    .tags-grid.uk-grid-small {
      margin-left: -8px;
    }
    .tags-grid.uk-grid-small>* {
      padding-left: 8px;
    }
    
    .uk-light strong {
      color: #fff;
    }
    
    .single-cover-details {
      margin-top: 140px!important;
    }
    @media only screen and (max-width: 767px) {
      .single-cover-details {
        margin-top: 100px!important;
      }
    }
    
    @media (min-width: 960px) {
      .section-small-bottom {
        padding-bottom: 30px;
      }
    }
    .section-small-bottom {
      padding-bottom: 10px;
    }
    
    .uk-overlay-primary {
      background: rgb(26 25 29 / 57%);
    }
  </style>
  {% if single.style.type == 'light' or single.style.type == 'dark' %}
    <style>
      blockquote {
        border-left: 5px solid {{ (single.style.color) ? single.style.color : '#d90a2c' }};
      }
      a, .uk-link {
        color: {{ (single.style.color) ? single.style.color : '#d90a2c' }};
      }
      .uk-light .uk-label, .uk-label:hover, .uk-label:focus,
      .uk-light .uk-background-muted-light {
        background-color: {{ (single.style.color) ? single.style.color : '#d90a2c' }};
      }
      .uk-button-secondary:focus, .uk-button-secondary:hover {
        background-color: {{ (single.style.color) ? single.style.color : '#d90a2c' }};
      }
    </style>
    {% if single.style.type == 'light' %}
      <style>
        .uk-background-pink {
          background-color: {{ (single.style.color) ? single.style.color : '#ffecf3' }};
        }
      </style>
    {% endif %}
  {% endif %}
{% endblock %}

{# single-specific header #}
{% block header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent; top: 200">
      {% include 'main-navbar.twig' %}
    </div>
  </header>
{% endblock %}

{# single-specific content #}
{% block content %}
  <div class="single single-{{single.slug}}" data-template="single.twig">
    
    {% block single_cover %}
      <section id="MainSingleCover" class="uk-background-cover uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-section uk-width-1-1 uk-background-pink">
          {% block single_cover_content %}
            <div class="uk-container">
              <div class="page-cover single-cover-details uk-width-1-1">
                <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
                {% if single.excerpt %}
                  <p class="uk-text-meta uk-margin-small-top uk-width-3-5@m">{{single.excerpt|raw}}</p>
                {% endif %}
              </div>
            </div>
          {% endblock %}
        </div>
      </section>
    {% endblock %}
    
    {% block single_content %}
      <section id="MainSingleContent" class="uk-container uk-section uk-section-small">
        
        {% block _breads %}
          <div class="uk-margin-medium">
            {% include 'breads.twig' %}
          </div>
        {% endblock %}
        
        {% block _content %}
          {% if single.content %}
            <p>{{single.content|raw}}</p>
          {% else %}
            {% if single.excerpt %}
              <p>{{single.excerpt|raw}}...</p>
            {% endif %}
          {% endif %}
        {% endblock %}
        
      </section>
    {% endblock %}
    
  </div>
{% endblock %}

{% block header %}
  {% include single.style.type ? '_post_header_' ~ single.style.type ~ '.twig' : '_post_header.twig' %}
{% endblock %}

{% block single_cover %}
  {% include single.style.type ? '_page_cover_' ~ single.style.type ~ '.twig' : '_page_cover.twig' %}
{% endblock %}

{# single-specific footer_top (empty) #}
{% block footer_top %}
{% endblock %}

{# single-specific footer #}
{% block footer %}
  <footer id="Footer" class="dark-footer uk-section uk-section-small uk-background-muted">
    {% include 'footer-main.twig' %}
  </footer>
{% endblock %}