<!-- the meta: cats & read_time -->
<div class="post-details uk-margin uk-margin-small-bottom">
  {% if single.taxonomies.categories %}
    <div class="taxonomy-holder uk-inline">
      {% for cat in single.taxonomies.categories %}
        {% if not loop.last %}
          <a class="taxonomy uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
        {% else %}
          <a class="taxonomy uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if single.read_time %}
    <span class="post-meta-estimate">{{single.read_time}} read</span>
  {% endif %}
</div>