{% extends "single.twig" %}

{% block styles %}
  <style>
    ins, mark {
      background: #9ff8d0;
      color: #17161a;
    }
    a {
      font-weight: 500;
    }
    .uk-label {
      background-color: #8888881a;
      transition: .1s ease-in-out;
      transition-property: background-color,color;
    }
    .uk-label:hover, .uk-label:focus {
      background-color: #d90a2c;
      color: #fff!important;
    }
    
    .tags-grid.uk-grid-small {
      margin-left: -8px;
    }
    .tags-grid.uk-grid-small>* {
      padding-left: 8px;
    }
    
    .uk-light strong {
      color: #fff;
    }
    
    .archive-leader-details {
      margin-top: 140px!important;
    }
    @media only screen and (max-width: 767px) {
      .archive-leader-details {
        margin-top: 100px!important;
      }
    }
    
  </style>
  {% if single.featured_img %}
    <!-- 
      sticky header with image/primary bg
      ...is a transparent/uk-light header when stuck above the image/bg
      ...the sticky header when scrolling obeys the light/dark styles 
    -->
    <style>
      .site-header .uk-background-default .uk-navbar-item, 
      .site-header .uk-background-default .uk-navbar-nav>li>a,
      .site-header .uk-background-default .uk-navbar-nav>li:hover>a, 
      .site-header .uk-background-default .uk-navbar-nav>li>a.uk-open, 
      .site-header .uk-background-default .uk-navbar-nav>li>a:focus,
      .site-header .uk-navbar-transparent .uk-navbar-item, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a,
      .site-header .uk-navbar-transparent .uk-navbar-nav>li:hover>a, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a.uk-open, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a:focus {
        color: #1a191d;
      }
      .uk-light .site-header .uk-background-default .uk-navbar-item, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a,
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li:hover>a, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a.uk-open, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a:focus,
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-item, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a,
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li:hover>a, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a.uk-open, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a:focus,
      .uk-light.uk-navbar-transparent .uk-navbar-item, 
      .uk-light.uk-navbar-transparent .uk-navbar-nav>li>a,
      .uk-light.uk-navbar-transparent .uk-navbar-nav>li:hover>a, 
      .uk-light.uk-navbar-transparent .uk-navbar-nav>li>a.uk-open, 
      .uk-light.uk-navbar-transparent .uk-navbar-nav>li>a:focus {
        color: #fff!important;
      }
    </style>
  {% else %}
    <!-- 
      sticky header with no image/bg (plain white bg)
      ...is a transparent header which obeys light/dark by default
      ...the sticky header when scrolling also obeys the light/dark styles 
    -->
    <style>
      .site-header .uk-background-default .uk-navbar-item, 
      .site-header .uk-background-default .uk-navbar-nav>li>a,
      .site-header .uk-background-default .uk-navbar-nav>li:hover>a, 
      .site-header .uk-background-default .uk-navbar-nav>li>a.uk-open, 
      .site-header .uk-background-default .uk-navbar-nav>li>a:focus,
      .site-header .uk-navbar-transparent .uk-navbar-item, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a,
      .site-header .uk-navbar-transparent .uk-navbar-nav>li:hover>a, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a.uk-open, 
      .site-header .uk-navbar-transparent .uk-navbar-nav>li>a:focus {
        color: #1a191d;
      }
      .uk-light .site-header .uk-background-default .uk-navbar-item, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a,
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li:hover>a, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a.uk-open, 
      .uk-light .site-header .uk-background-default .uk-navbar-nav>li>a:focus,
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-item, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a,
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li:hover>a, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a.uk-open, 
      .uk-light .site-header .uk-navbar-transparent .uk-navbar-nav>li>a:focus {
        color: #fff!important;
      }
    </style>
  {% endif %}
{% endblock %}

{% block header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    {% if single.featured_img %}
      {% set sticky_settings = 'animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent uk-light; top: 200' %}
    {% else %}
      {% set sticky_settings = 'animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent; top: 200' %}
    {% endif %}
    <div uk-sticky="{{sticky_settings}}">
      <nav class="main-navbar uk-container uk-container-expand" uk-navbar>
        <div class="mobile-menu uk-navbar-left">
          <ul class="mobile-menu-toggle uk-navbar-nav">
            <li>
              <a class="uk-navbar-toggle" href="#">
                <i class="fas fa-bars"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="main-menu-logo uk-navbar-center">
          <div class="uk-navbar-center-left">
            <div>
              <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
                {% if main_menu %}
                  {% for item in main_menu_first %}
                    <li class="menu-item {{item.class}}">
                      <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index}}</p>{{item.title}}</a>
                      {% if item.children %}
                        <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for child_item in item.children %}
                              <li class="menu-item {{child_item.class}}">
                                <a href="{{child_item.link}}">{{child_item.title}}</a>
                                {% if child_item.children %}
                                  <div class="third-drop uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                      {% for third_item in child_item.children %}
                                        <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                {% endif %}
                              </li>
                            {% endfor %}  
                          </ul>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}  
                {% else %}
                  <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="logo-item uk-navbar-item uk-position-relative">
            <a class="site-logo uk-link-reset uk-text-bold uk-h4 uk-margin-remove" href="#">
              your<br>
              digital<br>
              studio.<br>
            </a>
            <span class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">
              by robmccormack89
            </span>
          </div>
          <div class="uk-navbar-center-right">
            <div>
              <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
                {% if main_menu %}
                  {% for item in main_menu_second %}
                    <li class="menu-item {{item.class}}">
                      <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index + main_menu_first|length}}</p>{{item.title}}</a>
                      {% if item.children %}
                        <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for child_item in item.children %}
                              <li class="menu-item {{child_item.class}}">
                                <a href="{{child_item.link}}">{{child_item.title}}</a>
                                {% if child_item.children %}
                                  <div class="third-drop uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                      {% for third_item in child_item.children %}
                                        <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                {% endif %}
                              </li>
                            {% endfor %}  
                          </ul>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}  
                {% else %}
                  <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="darklight uk-navbar-right">
          <ul class="dark-light-switcher pull-right-15 uk-navbar-nav">
            <li>
              <a id="DarkSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.moon_link_show_hide}}>
                <i class="far fa-moon"></i>
              </a>
            </li>
            <li>
              <a id="LightSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.sun_link_show_hide}}>
                <i class="fas fa-sun"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}

  {% if single.featured_img %}
    {% set main_leader_class = 'uk-light' %}
    {% set main_leader_style = 'background-image: url(' ~ single.featured_img.src|resize(1920, 600, 'bottom') ~ ');' %}
    {% set main_leader_overlay = 'uk-overlay-primary' %}
  {% endif %}
  
    <section class="uk-background-cover uk-flex uk-flex-center uk-flex-middle {{main_leader_class}}" style="{{main_leader_style}}">
      <div class="{{main_leader_overlay}} uk-section uk-width-1-1">
        <div class="uk-container uk-container-medium">
          <div class="archive-leader-details uk-width-1-1">
            {% if single.taxonomies.categories or post.read_time %}
              <div class="post-details uk-margin uk-margin-small-bottom">
                {% if single.taxonomies.categories %}
                  <div class="category-holder uk-inline">
                    {% for cat in single.taxonomies.categories %}
                      {% if not loop.last %}
                        <a class="category uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
                      {% else %}
                        <a class="category uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if single.read_time %}
                  <span class="post-meta-estimate">{{single.read_time}} read</span>
                {% endif %}
              </div>
            {% endif %}
            <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
            <div class="uk-margin-medium">
              <div class="uk-child-width-auto" uk-grid>
                <div class="uk-text-emphasis">
                  Author<br>
                  <strong>{{single.author}}</strong>
                </div>
                <div class="uk-text-emphasis">
                  Published<br>
                  <strong>{{single.date_time|date("F j, Y")}}</strong>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <div id="post{{single.slug}}" class="post-{{single.slug}} uk-container uk-container-medium" data-template="post.twig">
    <div class="uk-section uk-section-small">
      
      <div class="uk-margin-medium">
        {% include 'breads.twig' %}
      </div>
      
      {% block page_content %}
        <div class="uk-margin-large-bottom">Nothing to see here. Yet...</div>
      {% endblock %}
      
      <div class="post-tags">
        {% if single.taxonomies.tags %}
          <div class="tags-grid uk-grid-small uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
            <div>
              Tagged with:
            </div>
            {% for tag in single.taxonomies.tags %}
              <div>
                <a class="uk-label uk-border-rounded uk-text-capitalize uk-link-reset" title="{{tag.title}}" href="{{tag.link}}">{{tag.title}}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
    </div>
  </div>
{% endblock %}

{% block footer_top %}
{% endblock %}

{% block footer %}
  <footer id="Footer" class="dark-footer uk-section uk-section-small uk-background-muted">
    <div class="uk-container">
      <div class="footer-main uk-padding uk-padding-remove-horizontal">
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          <div>
            <h4 class="site-logo uk-text-emphasis uk-link-reset uk-text-bold uk-margin-remove">
              your<br>
              digital<br>
              studio.
            </h4>
            <p class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">by robmccormack89</p>
          </div>
          <div>
            <h3 class="uk-h5">Rotterdam</h3>
            <ul class="uk-list uk-list-collapse">
              <li>Ohio Digital Media LTD.</li>
              <li>Graaf Florisstraat 22A,</li>
              <li>3021 CH Rotterdam</li>
            </ul>
            <h3 class="uk-h5">Barcelona</h3>
            <ul class="uk-list uk-list-collapse">
              <li>Ohio Digital LTD.</li>
              <li>365 Gran Via de Corts</li>
              <li>Catalanes, BA 08015</li>
            </ul>
          </div>
          <div>
            <h3 class="uk-h5">Work inquiries</h3>
            <ul class="uk-list uk-list-collapse">
              <li>Interested in working with us?</li>
              <li><a href="#" class="uk-button uk-button-text uk-text-lowercase">jobs@robertmccormack.com</a></li>
            </ul>
            <h3 class="uk-h5">Career</h3>
            <li>Looking for a job opportunity?</li>
            <li><a href="#" class="uk-button uk-button-text uk-text-capitalize">See open positions <i class="fas fa-arrow-right fa-sm"></i></a></li>
          </div>
          <div>
            <h3 class="uk-h5">Sign up for our newsletter</h3>
          </div>
        </div>
      </div>
      <hr class="uk-margin-medium-bottom uk-margin-large-top">
      <div class="footer-bottom">
        <div class="uk-child-width-1-2@m" uk-grid>
          <div class="uk-text-small">© 2021 <span class="uk-text-bold uk-text-emphasis">{{site.title}}</span>. Made with passion by  <span class="uk-text-bold uk-text-emphasis">{{author.name}}</span></div>
          <div class="uk-text-right@m">
            <a href="#" class="uk-button uk-button-text uk-text-capitalize">Privacy & Cookie Policy</a> | <a href="#" class="uk-button uk-button-text uk-text-capitalize">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}