{% extends "post.twig" %}

{% block header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent; top: 200">
      {% include 'main-navbar.twig' %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div id="post{{single.slug}}" class="post-{{single.slug}}" data-template="post_video.twig">
    
    <!-- main single cover: beneath sticky header -->
    <section id="MainSingleCover" class="uk-background-cover uk-flex uk-flex-center uk-flex-middle">
      <div class="uk-section section-small-bottom uk-width-1-1">
        <div class="uk-container uk-container-medium">
          <div class="single-cover-details uk-width-1-1">
            
            <!-- the meta: cats & read_time -->
            {% if single.taxonomies.categories or post.read_time %}
              <div class="post-details uk-margin uk-margin-small-bottom">
                {% if single.taxonomies.categories %}
                  <div class="category-holder uk-inline">
                    {% for cat in single.taxonomies.categories %}
                      {% if not loop.last %}
                        <a class="category uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>,
                      {% else %}
                        <a class="category uk-link-reset" title="{{cat.title}}" href="{{cat.link}}">{{cat.title}}</a>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if single.read_time %}
                  <span class="post-meta-estimate">{{single.read_time}} read</span>
                {% endif %}
              </div>
            {% endif %}
            
            <!-- the heading -->
            <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
            
            <!-- sub-meta: author & published -->
            <div class="uk-margin-medium">
              <div class="uk-child-width-auto" uk-grid>
                <div class="uk-text-emphasis">
                  Author<br>
                  <strong>{{single.author}}</strong>
                </div>
                <div class="uk-text-emphasis">
                  Published<br>
                  <strong>{{single.date_time|date("F j, Y")}}</strong>
                </div>
                <div></div>
              </div>
            </div>
            
            {# 
              if format = video|audio, & iframe src exists, do the iframe
            #}
            {% if single.featured_img and single.featured_img.frame_src and (single.format == 'video' or single.format == 'audio') %}
              <figure class="blog-grid-image uk-cover-container uk-height-large">
                <iframe src="{{single.featured_img.frame_src}}" class="object-fitting" frameborder="0" allowfullscreen></iframe>
              </figure>
            {% endif %}
            
          </div>
        </div>
      </div>
    </section>
    
    <!-- main single content -->
    <section id="MainSingleContent" class="uk-container uk-container-medium uk-section uk-section-small">
      
      <!-- single breads -->
      <div class="uk-margin-medium">
        {% include 'breads.twig' %}
      </div>
      
      <!-- single content -->
      {% block page_content %}
        <div class="uk-margin-large-bottom">Nothing to see here. Yet...</div>
      {% endblock %}
      
      <!-- single meta: tags -->
      <div class="post-tags">
        {% if single.taxonomies.tags %}
          <div class="tags-grid uk-grid-small uk-flex uk-flex-middle uk-child-width-auto" uk-grid>
            <div>
              Tagged with:
            </div>
            {% for tag in single.taxonomies.tags %}
              <div>
                <a class="uk-label uk-border-rounded uk-text-capitalize uk-link-reset" title="{{tag.title}}" href="{{tag.link}}">{{tag.title}}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
    </section>
    
  </div>
{% endblock %}