{% extends "base.twig" %}

{% block content %}
  <div id="Single{{page.id}}" class="page-{{page.id}} page uk-section uk-container" data-template="page.twig">
    <div class="uk-grid-large uk-grid" uk-grid="">

      <section class="left-section uk-width-2-3@m uk-first-column">
        <article class="uk-article">

          <header class="article-header">
            <h1 class="uk-article-title">{{page.title}}</h1>
          </header>
          
          {% if page.status == 'draft' %}
            <p>
              <span class="uk-label uk-label-warning">This page is in Draft mode</span>
            </p>
          {% endif %}
          
          {% block page_content %}
          
            {% for movie in movies %}
              {{movie.title}}
            {% endfor %}
            
            {{app_protocol}}
            
          {% endblock %}

        </article>
      </section>

      {% include 'sidebar.twig' %}

    </div>

  </div>
{% endblock %}

