{% extends "page.twig" %}

{% block page_content %}

  <h3>Page Data</h3>

  <ul>
    <li>Page Title: {{page.title}}</li>
    <li>Page Slug: {{page.slug}}</li>
    <li>Page Status: {{page.status}}</li>
    <li>Page Author: {{page.author}}</li>
    <li>Page Date/Time: {{page.date_time|date("m/d/Y")}}</li>
    <li>Page Type: {{page.type}}</li>
    <li>Page Content Template: {{page.content}}</li>
    <li>Page Excerpt/Preview: {{page.excerpt}}</li>
  </ul>
    
  <hr>

  <h3>Page Featured Image Data</h3>

  <ul>
    <li>Featured Image Src: {{page.featured_img.src}}</li>
    <li>Featured Image Title: {{page.featured_img.title}}</li>
    <li>Featured Image Alt: {{page.featured_img.alt}}</li>
    <li>Featured Image Caption: {{page.featured_img.caption}}</li>
    <li>Featured Image Description: {{page.featured_img.description}}</li>
  </ul>

  <hr>

  <h3>Page Gallery Data</h3>

  {% for img in page.gallery %}
    Image: {{loop.index}}
    <ul>
      <li>{{img.src}}</li>
      <li>{{img.title}}</li>
      <li>{{img.alt}}</li>
      <li>{{img.caption}}</li>
      <li>{{img.description}}</li>
    </ul>
    <hr>
  {% endfor %}

{% endblock %}