{% extends 'single.twig' %}

{% block styles %}
  {{ parent() }}
  <style>
    .project-page-content {
      font-size: 17px;
      line-height: 1.65;
      padding-bottom: 8.8vh;
      padding-top: 8.8vh;
      padding-right: 10px;
    }
    .project-content {
      z-index: 1;
    }
    .footer-project {
      margin-top: -5px!important;
      z-index: 1;
      position: relative;
    }
    
    .uk-light {
      color: hsla(0,0%,100%,.9);
    }
    .uk-light strong {
      color: #fff;
    }
    
    figure.gallery-img {
      margin: 0 0 10px;
    }
    *+figure.gallery-img {
      margin-top: 10px;
    }
    
    .footer-project .uk-text-meta {
      font-size: 0.9rem;
      /* color: #fff; */
    }
    .uk-light .footer-project .uk-text-meta {
      color: #fff!important;
    }
    
    #MainSingleContent {
      padding-bottom: 0;
    }
  </style>
{% endblock %}

{% block header %}
  {% include single.style.type ? '_post_header_' ~ single.style.type ~ '.twig' : '_post_header.twig' %}
{% endblock %}

{% block single_cover %}
  {% include single.style.type ? '_project_cover_' ~ single.style.type ~ '.twig' : '_project_cover.twig' %}
{% endblock %}

{% block _content %}
  <div class="project-content">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="project-gallery">
        {% block _project_gallery %}
          {% for img in single.gallery %}
            <figure class="gallery-img">
              <img class="uk-border-rounded" data-src="{{img.src|resize(650)}}" data-width data-height alt="{{img.alt}}" uk-img>
            </figure>
          {% endfor %}
        {% endblock %}
      </div>
      <div class="project-content">
        <div class="project-page-content uk-padding" uk-sticky="offset: 60; bottom: true">
          {% block _project_content %}
            {% if single.excerpt %}
              <p class="uk-text-meta">{{single.excerpt|raw}}</p>
            {% endif %}
            {% if single.project_goal %}
              <div class="project-goal uk-margin">
                <strong>Client Goal:</strong>
                <blockquote>
                  <p class="uk-text-italic">"{{single.project_goal}}."</p>
                </blockquote>
              </div>
            {% endif %}
            {% if single.project_meta or single.author %}
              {% if single.project_goal %}
                <hr>
              {% endif %}
              <div class="project-meta-grid uk-child-width-auto" uk-grid>
                {% for meta in single.project_meta %}
                  <div>
                    <strong>{{meta.title}}</strong>
                    <p class="uk-text-small uk-margin-small-top">
                      {{meta.subs|join(',<br> ')|raw}}
                    </p>
                  </div>
                {% endfor %}
                {% if single.author %}
                  <div>
                    <strong>Author</strong>
                    <p class="uk-text-small uk-margin-small-top">
                      {{single.author}}
                    </p>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_top %}
  <div id="TopFooter" class="footer-project uk-section uk-section-large uk-background-muted uk-background-muted-light">
    <div class="uk-container">
      <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Let’s collaborate</p>
      <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-heading-medium uk-margin-remove-top">Got a project?</h3>
        </div>
        <div class="uk-width-auto">
          <a href="/contact" class="uk-button uk-button-secondary uk-border-rounded uk-button-small uk-text-capitalize">Get in Touch <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <hr>
      <div class="uk-width-1-2@m">
        <p>If you have an idea for a new project & need some more information about where to get started, why not drop me a message?</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer id="Footer" class="dark-footer uk-section uk-section-small uk-background-secondary uk-light">
    {% include 'footer-main.twig' %}
  </footer>
{% endblock %}