<title>{{archive.meta_title|default(archive.title ~ ' | ' ~ site.title)}}</title>
<meta name="description" content="{{archive.meta_description|default(archive.description)}}">
<link rel="canonical" href="{{current_url}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{archive.meta_title|default(archive.title ~ ' | ' ~ site.title)}}" />
<meta property="og:description" content="{{archive.meta_description|default(archive.description)}}" />
<meta property="og:image" content="{{base_url}}{{archive.featured_img.src}}" />
<meta property="og:url" content="{{current_url}}" />
<meta property="og:site_name" content="{{site.title}}" />