{% extends 'project.twig' %}

{% block styles %}
  {{ parent() }}
  <style>
    .project-page-content {
      padding-right: 8.8vh;
      padding-left: 8.8vh;
      padding-top: 15vh;
    }
  </style>
{% endblock %}

{% block header %}
  {% include '_post_header_light.twig' %}
{% endblock %}

{% block post_cover %}
{% endblock %}

{% block post_content %}
  <section id="MainSingleContent" class="uk-background-default">
    
    {% block _content %}
      <div class="project-content">
        <div class="uk-child-width-1-2@m uk-grid-collapse" uk-grid>
          <div class="project-gallery">
            {% block _project_gallery %}
              {% for img in single.gallery %}
                <figure class="gallery-img">
                  <img class="uk-border-rounded" data-src="{{img.src|resize(1100)}}" data-width data-height alt="{{img.alt}}" uk-img>
                </figure>
              {% endfor %}
            {% endblock %}
          </div>
          <div class="project-content">
            <div class="project-page-content uk-padding" uk-sticky="offset: 60; bottom: true">
              {% if single.taxonomies.technologies or post.date_time %}
                {% include '_project_meta.twig' %}
              {% endif %}
              <h1 class="uk-heading-large uk-margin-remove-top">{{single.title}}.</h1>
              {% block _project_content %}
                {{ parent() }}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    
  </section>
{% endblock %}