{% extends "base.twig" %}

{% block seo_meta %}
  <title>{{archive.meta_title|default(archive.title ~ ' | ' ~ site.title)}}</title>
  <meta name="description" content="{{archive.meta_description|default(archive.description)}}">
  <link rel="canonical" href="{{current_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{archive.meta_title|default(archive.title ~ ' | ' ~ site.title)}}" />
  <meta property="og:description" content="{{archive.meta_description|default(archive.description)}}" />
  <meta property="og:image" content="{{base_url}}{{archive.featured_img.src}}" />
  <meta property="og:url" content="{{current_url}}" />
  <meta property="og:site_name" content="{{site.title}}" />
{% endblock %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block header %}
  <header id="SiteHeader" class="site-header uk-position-top uk-position-z-index">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .main-navbar; cls-active: uk-navbar-sticky uk-background-default; cls-inactive: uk-navbar-transparent; top: 200">
      {% include 'main-navbar.twig' %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div id="Archive" class="archive uk-container" data-template="archive.twig">
    
    {% block archive_header %}
      <header class="default-page-header uk-section">
        <h1 class="uk-heading-medium uk-margin-remove">{{archive.title}}</h1>
        <p class="uk-text-meta uk-margin-small-top uk-width-3-5@m">{{archive.description}}</p>
      </header>
    {% endblock %}
    
    {% block archive_content %}
      <div class="archive-main uk-section uk-section-small">
        {% block archive_grid %}
          <div class="uk-grid uk-flex" uk-grid>
          
            {% block archive_posts_right %}
              <section class="archive-posts uk-margin-bottom uk-width-3-4@m">
              
                {# blog posts grid #}
                <div class="posts-grid uk-child-width-1-2@m uk-grid-column-medium uk-grid-row-large" uk-grid="masonry: true">
                  {% if archive.posts %}
                    {% for post in archive.posts %}
                      {% include ['_tease-' ~ post.type ~ '.twig', '_tease.twig'] %}
                    {% endfor %}
                  {% else %}
                    <span class="uk-text-emphasis">No posts found here...</span>
                  {% endif %}
                </div>
                
                {% block archive_pagi %}
                  {% if (archive.pagination.next or archive.pagination.prev) %}
                    <div class="archive-pagination uk-section">
                      <ul class="uk-pagination">
                        {% if archive.pagination.prev %}
                          <li>
                            <a class="prev style-btn uk-text-capitalize uk-animation-toggle" href="{{archive.pagination.prev}}" tabindex="0">
                              <i class="fas fa-arrow-left uk-margin-small-right uk-animation-slide-right"></i> Previous
                            </a>
                          </li>
                        {% endif %}
                        {% for page in archive.pagination.pages %}
                          {% if page.class == 'uk-active' %}
                            <li class="{{page.class}}"><span>{{page.title}}</span></li>
                          {% else %}
                            <li class="{{page.class}}"><a class="style-btn" href="{{page.link}}">{{page.title}}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if archive.pagination.next %}
                          <li>
                            <a class="next style-btn uk-text-capitalize uk-animation-toggle" href="{{archive.pagination.next}}" tabindex="0">
                              Next <i class="fas fa-arrow-right uk-margin-small-left uk-animation-slide-left"></i>
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}
                {% endblock %}
              
              </section>
            {% endblock %}
            
            {% block archive_sidebar_left %}
              <aside class="archive-sidebar uk-width-1-4@m uk-flex-first@m">
              {% block archive_widgets %}
                <!-- search widget -->
                <div class="widget search-widget uk-margin-medium">
                  <form method="GET" action="{{current_url|strtokparams}}" id="ArchiveSearch" class="uk-search uk-search-default uk-width-1-1">
                    {% for key, val in get %}
                      {% if key == 'show_all' %}
                        <input type="hidden" name="{{key|escape}}" />
                      {% endif %}
                      {% if key != 'url' and key != 'show_all' and key != 's' %}
                        <input type="hidden" name="{{key|escape}}" value="{{val|escape}}" />
                      {% endif %}
                    {% endfor %}
                    <span class="uk-search-icon-flip uk-icon uk-search-icon"><i class="fas fa-search"></i></span>
                    <input class="uk-search-input uk-border-rounded uk-form-large uk-width-1-1" pattern=".*\S+.*" form="ArchiveSearch" minlength="3" minlength="25" autocomplete="off" list="SearchAuto" name="s" id="s" type="search" placeholder="Search">
                  </form>
                  <datalist id="SearchAuto">
                    <option value="handshake">
                    <option value="release">
                    <option value="assets">
                    <option value="validation">
                    <option value="metrics">
                  </datalist>
                </div>
              {% endblock %}
            </aside>
            {% endblock %}
          
          </div>
        {% endblock %}
      </div>
    {% endblock %}
    
  </div>
{% endblock %}

{% block footer_top %}
{% endblock %}

{% block footer %}
  <footer id="Footer" class="dark-footer uk-section uk-section-small uk-background-muted">
    {% include 'footer-main.twig' %}
  </footer>
{% endblock %}