{% extends "base.twig" %}

{% block seo_meta %}
  <title>{{archive.meta_title|default(archive.title ~ ' | ' ~ configs.site_title)}}</title>
  <meta name="description" content="{{archive.meta_description|default(archive.description)}}">
  <link rel="canonical" href="{{configs.current_url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{archive.meta_title|default(archive.title ~ ' | ' ~ configs.site_title)}}" />
  <meta property="og:description" content="{{archive.meta_description|default(archive.description)}}" />
  <meta property="og:image" content="{{configs.base_url}}{{archive.featured_img.src}}" />
  <meta property="og:url" content="{{configs.current_url}}" />
  <meta property="og:site_name" content="{{configs.site_title}}" />
{% endblock %}

{% block styles %}
  <style>
    /* tease */
    .item img {
      max-height: 400px;
      object-fit: cover;
    }
  </style>
{% endblock %}

{% block content %}

<div id="Archive{{archive.title}}" class="archive" data-template="archive.twig">

  <header class="uk-section uk-section-muted uk-section-small uk-text-center theme-border-top theme-border-bottom">
    <div class="uk-container uk-container-small">
      <h1 class="uk-article-title uk-text-bold">{{archive.title}}</h1>
      <hr class="uk-divider-small">
      <p class="uk-text-lead">{{archive.description}}</p>
    </div>
  </header>

  <div class="uk-container">
    
    <ul class="uk-breadcrumb uk-margin-small-top uk-margin-remove-bottom">
      <li><a href="/">Home</a></li>
      <li><span>{{archive.title}}</span></li>
    </ul>
    
    <div class="uk-section uk-section-small">
      <div class="uk-grid-large uk-grid" uk-grid>
        
        <section class="left-section uk-width-2-3@m">
          {% block page_content %}
            <div class="archive-posts">
              {% for post in archive.posts %}
                {% include 'tease.twig' %}
              {% endfor %}
            </div>
            
            {% if (archive.pagination.next or archive.pagination.prev) %}
              <ul class="uk-pagination uk-flex-center">
                {% if archive.pagination.prev %}
                  <li>
                    <a class="prev " href="{{archive.routes.archive_url}}/page/{{archive.pagination.prev}}">
                      <span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a>
                  </li>
                {% endif %}
                {% for page in archive.pagination.pages %}
                  {% if page.class == 'uk-active' %}
                    <li class="{{page.class}}"><span>{{page.title}}</span></li>
                  {% else %}
                    <li class="{{page.class}}"><a href="{{archive.routes.archive_url}}/page/{{page.link}}">{{page.title}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if archive.pagination.next %}
                  <li>
                    <a class="next" href="{{archive.routes.archive_url}}/page/{{archive.pagination.next}}">
                      Next <span class="uk-margin-small-left" uk-pagination-next></span></a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
            
          {% endblock %}
        </section>
        
        {% include 'sidebar.twig' %}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

