<!DOCTYPE html>
<html lang="{{configs.language}}">

  <head>
    
    <meta charset="{{configs.charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset={{configs.charset}}" />
    
    {% block google_fonts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    {% endblock %}
    
    {% block base_seo_meta %}
      <!-- WebSite -->
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "WebSite",
          "name": "{{configs.site_title}}",
          "url": "{{configs.base_url}}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{{configs.base_url}}/?s={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
      </script>
      <!-- Person -->
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Person",
          "name": "{{configs.name}}",
          "url": "{{configs.base_url}}",
          "image": "{{configs.avatar_src}}",
          "sameAs": [
            "{{configs.github_url}}",
            "{{configs.base_url}}"
          ],
          "jobTitle": "{{configs.job}}",
          "worksFor": {
            "@type": "Organization",
            "name": "{{configs.name}}"
          }  
        }
      </script>
    {% endblock %}
    
    {% block seo_meta %}
    {% endblock %}
    
    {% block base_styles %}
      <!-- base uikit scss build -->
      <link rel="stylesheet" type="text/css" href="/public/css/base.css">
      <!-- font awesome scss build -->
      <link rel="stylesheet" type="text/css" href="/public/css/global.css">
      <!-- base uikit scripts: no icons -->
      <script src="/public/js/global/base.min.js"></script>
    {% endblock %}
    
    <!-- ohio style -->
    <style>
    
      /* 
      
      GLOBAL: Header
      
      */
  
      .site-header {
        z-index: 2;
      }
      .site-header .uk-navbar-nav>li>a {
        text-transform: capitalize;
      }
      .site-header .uk-navbar-item, .site-header .uk-navbar-nav>li>a, .site-header .uk-navbar-toggle {
        font-size: 1rem;
      }
      .site-header .third-drop {
        left: 140px!important;
        top: 30px!important;
      }
      .site-header a p.uk-text-small {
        color: #ffffffc7!important;
      }
      .site-header .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #ffffff;
      }
      
      /* header logo subtext positioning */
      .site-header .by-rmcc-text {
        position: absolute;
        bottom: -8px;
        width: max-content;
        font-size: .75rem;
        left: 15px;
      }
      .site-header .uk-sticky-below .by-rmcc-text {
        bottom: 0;
        font-size: .7rem;
      }
      
      /* header logo padding & margins */
      .site-header nav {
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: -9px;
      }
      .site-header .uk-sticky-below nav {
        padding-bottom: 0;
        padding-top: 10px;
      }
      .site-header .main-menu-logo .logo-item {
        margin-top: -10px;
      }
      .site-header .uk-sticky-below .main-menu-logo .logo-item {
        margin-top: -5px;
      }
      
      /* header logo sizing */
      .site-logo, .site-header .site-logo {
        font-size: 1.5rem;
        line-height: 20px;
      }
      .site-header .uk-sticky-below .site-logo {
        font-size: 1.2rem;
        line-height: 16px;
      }
      
      .site-header .site-logo {
        text-decoration: none!important;
      }
      .site-header .uk-navbar-nav>li>a, .site-header .uk-navbar-nav>li:hover>a, .site-header .uk-navbar-nav>li>a.uk-open, .site-header .uk-navbar-nav>li>a:focus, 
      .site-logo, .site-logo:hover, .site-logo:focus {
        color: #1a191d;
      }
      .uk-light .uk-navbar-item, .uk-light .uk-navbar-nav>li>a, .uk-light .uk-navbar-toggle {
        color: #fff;
      }    
      
      /* 
      
      GLOBAL: Backgrounds
      
      */
      
      .uk-background-secondary {
        background-color: #17161a;
      }
      
      /* 
      
      GLOBAL: Containers
      
      */
    
      .uk-container {
        /* max-width: 1300px; */
        max-width: 1250px;
      }
      .uk-container-medium {
        max-width: 1100px;
      }
      .uk-container-large {
        max-width: 1400px;
      }
      .uk-container-small {
        max-width: 900px;
      }
      .uk-container-expand {
        max-width: none;
      }
      
      /* 
      
      GLOBAL: Grids
      
      */
      
      .uk-grid-collapse>*, .uk-grid-column-collapse>* {
        padding-left: 0;
      }
      
      
      /* 
      
      GLOBAL: Buttons
      
      */
      
      .uk-background-primary {
        background-color: #d90a2c;
      }
      .uk-button-text {
        font-weight: 600;
      }
      .uk-button-text:before {
        border-width: 2px;
      }
      .uk-button-secondary {
        background-color: #17161a;
      }
      .uk-button-secondary:focus, .uk-button-secondary:hover {
        background-color: #d90a2c;
        color: #fff;
      }
      .uk-light .uk-button-secondary {
        background-color: #fff;
        color: #1a191d;
      }
      .uk-button-small {
        font-size: 1rem;
        line-height: 34px;
        padding: 0px 15px;
        font-weight: 600;
      }
      .style-btn {
        font-weight: 600;
        color: #17161a;
        transition: .2s ease-in-out;
        transition-property: color;
      }
      .style-btn:hover, .style-btn:focus {
        color: #d90a2c;
        text-decoration: none;
      }
      .uk-light .style-btn {
        color: #fff;
      }
      .uk-light .style-btn:hover {
        color: #d90a2c;
      }
      
      /* 
      
      GLOBAL: More uikit
      
      */
      
      .uk-offcanvas-bar {
        width: 80vw;
      }
      a, .uk-link {
        color: #d90a2c;
      }
      
      /* 
      
      GLOBAL: Fonts & Text
      
      */
      
      html {
        color: #17161a;
        font-family: -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .site-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
      }
      .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
      }
      .by-rmcc-text {
        font-family: 'Raleway', sans-serif;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
      h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        color: #17161a;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-small, 
      h1, h2, h3, h4, h5, h6 {
        letter-spacing: -1px;
      }
      .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-xlarge {
        letter-spacing: -3px;
      }
      .uk-text-bold {
        font-weight: 600;
      }
      
      /* 
      
      HOME: #PersonalLeader
      
      */
      
      #PersonalLeader {
        overflow: hidden;
      }
      #PersonalLeader .leader-height {
        min-height: calc(100vh);
      }
      #PersonalLeader .bg-text, #PersonalLeader .bg-text > * {
        font-size: 600px;
        font-weight: 900;
        color: rgba(23,22,26,0.08);
        font-family: 'Playfair Display';
        line-height: .8!important;
      }
      #PersonalLeader .bg-text {
        transform: rotate(-30deg) translateY(-50%);
        position: absolute;
        top: -70%;
        left: -100%;
        z-index: -1;
      }
      #PersonalLeader .bg-text p {
        line-height: 75%;
        white-space: nowrap;
        position: absolute;
        z-index: -1;
      }
      #PersonalLeader .uk-text-meta {
        font-size: 0.9rem;
        color: #ffffffc7!important;
      }
      
      /* 
      
      HOME: #Services
      
      */
      
      #Services .uk-grid {
        margin-top:-225px;
      }
      #Services .uk-overlay-primary {
        background: rgb(34 34 34 / 46%);
      }
      
      /* 
      
      GLOBAL: Img hover effects
      
      */
        
      /* hover image colour effects */
      .hover-colour-wrap {
        height:100%;
        width:100%
      }
      .hover-colour-wrap .uk-heading-bullet:before {
        border-width: 4px;
        transition: .5s border-color linear;
      }   
      .hover-colour-wrap:hover .uk-heading-bullet:before {
        border-color: #d90a2c!important;
      }      
      .hover-colour-wrap img {
        height:100%;
        width:100%;
        object-fit:cover;
        filter:grayscale(1);
        transition: .5s filter linear;
      }
      .hover-colour-wrap:hover img {
        filter:grayscale(0);
      }
      
      /* hover image grow effects */
      .hover-grow-wrap {
        overflow: hidden;
      }
      .hover-grow-wrap img {
        transition: .2s transform linear;
      }
      .hover-grow-wrap:hover img {
        transform: scale(1.2);
      }
      
      /* 
      
      GLOBAL: Img fixing to a box
      
      */
      
      .object-fitting {
        height:100%;
        width:100%;
        object-fit:cover;
      }
      
      /* 
      
      HOME: #CTA
      
      */
      
      #CTA .uk-accordion-title:focus, .uk-accordion-title:hover {
        color: #fff;
      }
      #CTA .uk-accordion-title:before {
        float: left;
        margin-left: 0;
        margin-right: 10px;
      }
      
      /* 
      
      #FooterTop
      
      */
      
      #FooterTop *+.uk-grid-margin-medium, #FooterTop .uk-grid+.uk-grid-medium, #FooterTop .uk-grid+.uk-grid-row-medium, #FooterTop .uk-grid-medium>.uk-grid-margin, #FooterTop .uk-grid-row-medium>.uk-grid-margin {
        margin-top: 20px;
      }
      #FooterTop .uk-grid-column-small>*, #FooterTop .uk-grid-small>* {
        padding-left: 20px;
      }
      
      /* 
      
      Inputs
      
      */
      
      .uk-input, .uk-select, .uk-search-default .uk-search-input {
        background-color: #f8f8f8;
        border: none;
        transition: .1s ease-in-out;
        transition-property: background-color,border-color;
      }
      .uk-input:focus, .uk-input:hover, 
      .uk-search-default .uk-search-input:focus, .uk-search-default .uk-search-input:hover, 
      .uk-select:focus, .uk-select:hover {
        background-color: #f3f3f3;
      }
      .uk-input:focus, .uk-search-default .uk-search-input:focus {
        /* border: 1px solid #e0e0e0; */
      }
      .uk-light .uk-input, .uk-light .uk-select, .uk-light .uk-search-default .uk-search-input {
        background-color: rgba(255,255,255,.05);
      }
      .uk-form-large:not(textarea):not([multiple]):not([size]) {
        height: 45px;
        padding-left: 12px;
        padding-right: 12px;
      }
      .uk-form-large {
        font-size: 1rem;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #777777!important;
        opacity: 1!important; /* Firefox */
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #777777;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #777777;
      }
      
      .uk-search .uk-search-icon {
        color: #17161a;
      }
      .uk-search .uk-form-large:not(textarea):not([multiple]):not([size]) {
        height: 50px;
        padding-left: 15px;
        padding-right: 35px;
      }
      
      /* 
      
      Breadcrumbs
      
      */
      
      .uk-breadcrumb span, .uk-breadcrumb a {
        color: #17161a;
      }
      .uk-breadcrumb>:last-child>a:not([href]), .uk-breadcrumb>:last-child>span {
        color: #8a8a8a;
        font-weight: 500;
      }
      .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column):before {
        color: #17161a;
        content: "\f054";
        font-family: 'Font Awesome 5 Free';
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
        display: inline-block;
        font-size: .75rem;
        margin: 0 10px 0 6px;
      }
      
      /* 
      
      Widgets
      
      */
      
      .widget .uk-list a {
        color: #17161a;
        transition: .2s ease-in-out;
        transition-property: color;
      }
      .uk-light .widget .uk-list a {
        color: #fff;
      }
      .widget .uk-list a:hover, .widget .uk-list li.uk-active a {
        color: #d90a2c;
        text-decoration: none;
      }
      h3.widget-title {
        font-weight: 600;
        letter-spacing: 0;
        color: #6a696c;
      }
      
      /* 
      
      Blog page
      
      */
      
      .blog-header .uk-text-meta {
        font-size:17px;
        height: 100%;
        font-weight: 400;
        line-height: 1.65;
        color: #17161a; 
      }
      .uk-light .blog-header .uk-text-meta {
        color: #fff; 
      }
      
      
      /* 
      
      the single post tease post
      
      */

      .post-details {
        font-size: .95rem;
      }
      .uk-light .post-details {
        color: #fff;
      }
      .category-holder:not(.no-divider)::after {
        content: "•";
        display: inline-block;
        vertical-align: middle;
        font-size: 0.8em;
        margin-top: -2px;
        color: #d90a2c;
      }
      .category-holder .category {
        font-weight: 500;
      }
      .the-post .blog-grid-headline {
        line-height: 1.3;
        font-weight: 700;
        letter-spacing: -.01em;
      }
      .the-post .uk-link-heading {
        transition: .2s ease-in-out;
        transition-property: color;
      }
      .the-post .uk-link-heading a:hover, .the-post a.uk-link-heading:hover {
        color: #d90a2c;
        text-decoration: none;
      }
      blockquote {
        color: #333;
        font-size: 1rem;
        font-style: normal;
        border-left: 5px solid #d90a2c;
        padding-left: 25px;
        padding-right: 15px;
        line-height: 1.5;
      }
      
      /* 
      
      New pagination
      
      */
      .archive-pagination .uk-pagination>.uk-active>* {
        color: #d90a2c;
      }
      
      /* 
      
      Responsive Devices
      
      */
      
      /* Large Desktops */
      @media only screen and (min-width: 1200px) {
        
        .uk-heading-medium {
          font-size: 4.5rem;
        }
        .uk-heading-large {
          font-size: 5rem;
        }
        
        #FooterTop .uk-grid-column-large, #FooterTop .uk-grid-large {
          margin-left: -220px;
        }
        #FooterTop .uk-grid-column-large>*, #FooterTop .uk-grid-large>* {
          padding-left: 220px;
        }
        
      }
      
      /* Desktops & tablets landscape*/
      @media only screen and (max-width: 1199px) {
        .uk-heading-large {
          font-size: 4rem;
        }
      }
      
      /* Tablets portrait*/
      @media only screen and (min-device-width : 960px) and (max-device-width : 1199px) {
        
      }
      @media only screen and (max-width: 959px) {
        .uk-heading-large {
          font-size: 4rem;
        }
      }
      
      /* Phones landscape */
      @media only screen and (min-device-width : 768px) and (max-device-width : 959px) {
        
      }
      @media only screen and (min-width: 768px) {
        #CTA {
          margin-top: -90px;
        }
        #CTA .uk-background-cover {
          margin: 100px 0;
        }
      }
      @media only screen and (max-width: 767px) {
        .uk-h1, h1 {
          font-size: 1.9rem;
        }
        .uk-h2, h2 {
          font-size: 1.5rem;
        }
        #Work .work-item img {
          max-height: 250px;
          width: 100%;
          object-fit: cover;
        }
        #CTA .uk-background-cover.uk-height-large {
          height: 150px;
        }
        #CTA .uk-accordion-title {
          font-size: 1rem;
        }
        #CTA .uk-padding-large {
          padding: 20px;
        }
        #Services .services-item img{
          max-height: 160px;
          width: 100%;
          object-fit: cover;
        }
        #Services .uk-grid {
          margin-top: -115px;
        }
        #Services *+.uk-grid-margin, #Services .uk-grid+.uk-grid, #Services .uk-grid>.uk-grid-margin {
            margin-top: 10px;
        }
        #PersonalLeader .leader-height {
          min-height: calc(70vh);
        }
        #PersonalLeader .leader-heading {
          font-size: 2.7rem;
        }
        #FooterTop .uk-grid-column-small>*, #FooterTop .uk-grid-small>* {
          padding-left: 15px;
        }
        #FooterTop *+.uk-grid-margin-medium, #FooterTop .uk-grid+.uk-grid-medium, #FooterTop .uk-grid+.uk-grid-row-medium, #FooterTop .uk-grid-medium>.uk-grid-margin, #FooterTop .uk-grid-row-medium>.uk-grid-margin {
          margin-top: 10px;
        }
        #FooterTop .uk-form-large:not(textarea):not([multiple]):not([size]) {
          height: 35px;
          padding-left: 10px;
          padding-right: 10px;
        }
        .uk-heading-large {
          font-size: 3rem;
        }
      }
      
      /* Phones portrait*/
      @media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
        
      }
      @media only screen and (max-width: 479px) {
        
      }
      
      input::-webkit-calendar-picker-indicator {
        display: none!important;
      }
      [list]::-webkit-calendar-picker-indicator {
        display: none!important;
      }
      
    </style>
    
    {% block styles %}
    {% endblock %}
    
  </head>
  
  <body>
    
    {% block header %}
      <header id="SiteHeader" class="site-header default-header home-header uk-position-z-index">
        <nav class="uk-background-default uk-container uk-container-expand" uk-navbar>
          <div class="mobile-menu uk-navbar-left">
            <ul class="mobile-menu-toggle uk-navbar-nav">
              <li>
                <a class="uk-navbar-toggle" href="#">
                  <i class="fas fa-bars"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="main-menu-logo uk-navbar-center">
            <div class="uk-navbar-center-left">
              <div>
                <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
                  {% if main_menu %}
                    {% for item in main_menu_first %}
                      <li class="menu-item {{item.class}}">
                        <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index}}</p>{{item.title}}</a>
                        {% if item.children %}
                          <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                              {% for child_item in item.children %}
                                <li class="menu-item {{child_item.class}}">
                                  <a href="{{child_item.link}}">{{child_item.title}}</a>
                                  {% if child_item.children %}
                                    <div class="third-drop uk-navbar-dropdown">
                                      <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {% for third_item in child_item.children %}
                                          <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  {% endif %}
                                </li>
                              {% endfor %}  
                            </ul>
                          </div>
                        {% endif %}
                      </li>
                    {% endfor %}  
                  {% else %}
                    <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="logo-item uk-navbar-item uk-position-relative">
              <a class="site-logo uk-text-bold uk-h4 uk-margin-remove" href="#">
                web<br>
                designer<br>
                developer<br>
              </a>
              <span class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">
                robmccormack89
              </span>
            </div>
            <div class="uk-navbar-center-right">
              <div>
                <ul class="main-menu-nav uk-navbar-nav uk-visible@m">
                  {% if main_menu %}
                    {% for item in main_menu_second %}
                      <li class="menu-item {{item.class}}">
                        <a href="{{item.link}}"><p class="uk-text-small">0{{loop.index + main_menu_first|length}}</p>{{item.title}}</a>
                        {% if item.children %}
                          <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                              {% for child_item in item.children %}
                                <li class="menu-item {{child_item.class}}">
                                  <a href="{{child_item.link}}">{{child_item.title}}</a>
                                  {% if child_item.children %}
                                    <div class="third-drop uk-navbar-dropdown">
                                      <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {% for third_item in child_item.children %}
                                          <li class="menu-item {{third_item.class}}"><a href="{{third_item.link}}">{{third_item.title}}</a></li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  {% endif %}
                                </li>
                              {% endfor %}  
                            </ul>
                          </div>
                        {% endif %}
                      </li>
                    {% endfor %}  
                  {% else %}
                    <li class="menu-item">Add a menu with the slug main-menu to data.json</li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          <div class="darklight uk-navbar-right">
            <ul class="dark-light-switcher pull-right-15 uk-navbar-nav">
              <li>
                <a id="DarkSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.moon_link_show_hide}}>
                  <i class="far fa-moon"></i>
                </a>
              </li>
              <li>
                <a id="LightSwitch" class="uk-navbar-toggle darklight-switch" {{dark_light_def.sun_link_show_hide}}>
                  <i class="fas fa-sun"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    {% endblock %}

    <main id="MainContent" role="main">
      {% block content %}
        Sorry, Nothing to Display! Content goes here...
      {% endblock %}
    </main>

    {% block footer_top %}
      <section id="FooterTop" class="uk-section uk-background-default">
        <div class="uk-container">
          <div class="uk-grid-large" uk-grid>
            <div class="uk-width-2-3@m">
              <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Say Hello</p>
              <h2 class="uk-h1 uk-margin-remove">Request a free quote</h2>
              <form class="uk-grid-column-small uk-grid-row-medium uk-margin-medium-top uk-form-stacked" uk-grid>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Name (required)</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-form-large" id="form-stacked-text" type="text" placeholder="Your name">
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Company (optional)</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-form-large" id="form-stacked-text" type="text" placeholder="Your company name">
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Email (required)</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-form-large" id="form-stacked-text" type="text" placeholder="Your working email">
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Phone (optional)</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-form-large" id="form-stacked-text" type="text" placeholder="Your phone number">
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Subject (optional)</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-form-large" id="form-stacked-text" type="text" placeholder="Your message subject">
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label uk-text-bold" for="form-stacked-text">Choose a Budget (Euros)</label>
                  <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded uk-form-large">
                      <option>Less than 5k</option>
                      <option>5-10k</option>
                      <option>Over 10k</option>
                      <option>Please advise</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="uk-width-1-3@m">
              <p class="uk-text-meta uk-text-uppercase uk-text-bold uk-margin-small-bottom">Get in Touch</p>
              <h2 class="uk-h1 uk-margin-remove">Email me</h2>
              <p>
                For project inquiries only:<br>
                <a class="uk-button uk-button-text uk-text-lowercase">info@robertmccormack.com</a>
              </p>
              <p class="uk-margin-medium-top">
                For other questions:<br>
                <a class="uk-button uk-button-text uk-text-lowercase">info@robertmccormack.com</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
    
    {% block footer %}
      <footer id="Footer" class="default-footer home-footer uk-section uk-section-small uk-background-default">
        <div class="uk-container">
          <div class="footer-main">
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
              <div>
                <h4 class="site-logo uk-text-emphasis uk-link-reset uk-text-bold uk-margin-remove">
                  web<br>
                  designer<br>
                  developer
                </h4>
                <p class="uk-text-small uk-margin-remove uk-text-italic by-rmcc-text">obmccormack89</p>
              </div>
              <div>
                <h3 class="uk-h5">Rotterdam</h3>
                <ul class="uk-list uk-list-collapse">
                  <li>Ohio Digital Media LTD.</li>
                  <li>Graaf Florisstraat 22A,</li>
                  <li>3021 CH Rotterdam</li>
                </ul>
                <h3 class="uk-h5">Barcelona</h3>
                <ul class="uk-list uk-list-collapse">
                  <li>Ohio Digital LTD.</li>
                  <li>365 Gran Via de Corts</li>
                  <li>Catalanes, BA 08015</li>
                </ul>
              </div>
              <div>
                <h3 class="uk-h5">Work inquiries</h3>
                <ul class="uk-list uk-list-collapse">
                  <li>Interested in working with us?</li>
                  <li><a href="#" class="uk-button uk-button-text uk-text-lowercase">jobs@robertmccormack.com</a></li>
                </ul>
                <h3 class="uk-h5">Career</h3>
                <li>Looking for a job opportunity?</li>
                <li><a href="#" class="uk-button uk-button-text uk-text-capitalize">See open positions <i class="fas fa-arrow-right fa-sm"></i></a></li>
              </div>
              <div>
                <h3 class="uk-h5">Sign up for our newsletter</h3>
              </div>
            </div>
          </div>
          <hr class="uk-margin-medium-bottom uk-margin-large-top">
          <div class="footer-bottom">
            <div class="uk-child-width-1-2@m" uk-grid>
              <div class="uk-text-small">© 2021 <span class="uk-text-bold uk-text-emphasis">{{site.title}}</span>. Made with passion by  <span class="uk-text-bold uk-text-emphasis">{{author.name}}</span></div>
              <div class="uk-text-right@m">
                <a href="#" class="uk-button uk-button-text uk-text-capitalize">Privacy & Cookie Policy</a> | <a href="#" class="uk-button uk-button-text uk-text-capitalize">Terms of Service</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
    
    {% block base_scripts %}
      <script type='text/javascript' src='/public/js/global/global.min.js'></script>
      <script type='text/javascript' src='/public/js/theme.js'></script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    
  </body>
</html>