<html>
  <body>
    <h1>Contact form submission</h1>
    <p>
      Congratulations, somebody has submitted a contact form on your site! The details are:
      <hr>
      <strong>Name:</strong> {{name}}<br>
      <strong>Email:</strong> {{email}}<br>
      <strong>Phone:</strong> {{phone|default('No phone number provided')}}<br>
      <strong>Subject:</strong> {{subject|default('No subject provided')}}<br>
      <strong>Company:</strong> {{company|default('No company provided')}}<br>
      <strong>Budget:</strong> {{budget}}
    </p>
  </body>
</html>